extends ../templates/default

block content
  div(class='row')
    div(class='col-md-10 col-md-offset-1')
      div(class='panel planel-default')
        div(class='panel-heading')
          div(class='panel-body')
            form(action='http://localhost:3000/auth/perfil' method='post' autocomplete='off')
              h2='Perfil de Usuario'
              div(class='col-md-2')
                img(src="http://orig15.deviantart.net/08c1/f/2016/020/0/4/gear_fourth_by_iiyametaii-d9onhvl.jpg" border="0" width="150" height="150")
              h3= 'Nombre: '+user.nombre
              h3= 'Eres un: '+user.typeuser
              if user.typeuser == 'Conductor'
                div(class='col-md-2')
                  laber(for='salida')='Ruta Salida'
                  input(type='salida' name='salida' id='salida' placeholder='Salida' class='form-control')
          
                div(class='col-md-2' padding-right='50')
                  laber(for='destino')='Ruta Destino'
                  input(type='destino' name='destino' id='destino' placeholder='Destino' class='form-control')

                div(class='col-md-2')
                  laber(for='hsalida')='Programar hora salida'
                  input(type='hsalida' name='hsalida' id='hsalida' placeholder='HH:MM' class='form-control')

                div(class='col-md-2')
                  laber(for='hdestino')='Programar hora llegada'
                  input(type='hdestino' name='hdestino' id='hdestino' placeholder='HH:MM' class='form-control')
                button(type="submit" class='btn btn-default')= 'Publicar'
              else
              
              