extends ../templates/default

block content
  div(class='row' width='400')
    div(class='col-md-10 col-md-offset-1')
      div(class='panel planel-default')
        div(class='panel-heading')
          div(class='panel-body')
            form(action='http://localhost:3000/auth/perfil' method='post' autocomplete='off')
              h2='Perfil de Usuario'
              div(class='col-md-2')
                img(src="http://orig15.deviantart.net/08c1/f/2016/020/0/4/gear_fourth_by_iiyametaii-d9onhvl.jpg" border="0" width="100" height="100")
              h3= 'Nombre: '+user.nombre
              h3= 'Eres un: '+user.typeuser
              if user.typeuser == 'Pasajero'
                br
                h3='Tus subscripciones a Raids'
                table(class='table table-striped')
                  tr(class='atributo')
                    th='Lugar de Salida'
                    th='Hora de salida'
                    th='Lugar de Destino'
                     th='Hora de llegada'
                    - for(var i=0; i<subsraid.pas_salida.length; i++)
                        tr(class='pub')
                          td(name='pubsalida' id='pubsalida' onclick="alert('HOLA MUNDO!');")=i+1+'.- '+subsraid.pas_salida[i]
                          td(name='pubhsalida' id='pubhsalida')=subsraid.pas_hsalida[i]
                          td(name='pubdestino' id='pubdestino')=subsraid.pas_destino[i]
                          td(name='pubhdestino' id='pubhdestino')=subsraid.pas_hdestino[i]

              if user.typeuser == 'Conductor'
                center
                  div(class='col-md-15')
                    br
                    div(class='col-md-3')
                      laber(for='salida')='Ruta Salida'
                      input(type='salida' name='salida' id='salida' placeholder='Salida' class='form-control')
                            
                    div(class='col-md-3' padding-right='50')
                      laber(for='destino')='Ruta Destino'
                      input(type='destino' name='destino' id='destino' placeholder='Destino' class='form-control')

                    div(class='col-md-3')
                      laber(for='hsalida')='Hora de salida'
                      input(type='hsalida' name='hsalida' id='hsalida' placeholder='HH:MM' class='form-control')

                    div(class='col-md-3')
                      laber(for='hdestino')='Hora de llegada'
                      input(type='hdestino' name='hdestino' id='hdestino' placeholder='HH:MM' class='form-control')
                      br
                    center
                      button(type="submit" class='btn btn-success btn-lg' href="/auth/panel")= 'Publicar'
                      
                      h3='Lista de tus Raids'
                      table(class='table table-striped')
                        tr(class='atributo')
                          th='Lugar de Salida'
                          th='Hora de salida'
                          th='Lugar de Destino'
                          th='Hora de llegada'
                        - for(var i=0; i<publication.salida.length; i++)
                            tr(class='pub')
                              td(name='pubsalida' id='pubsalida' onclick="alert('HOLA MUNDO!');")=i+1+'.- '+publication.salida[i]
                              td(name='pubhsalida' id='pubhsalida')=publication.hsalida[i]
                              td(name='pubdestino' id='pubdestino')=publication.destino[i]
                              td(name='pubhdestino' id='pubhdestino')=publication.hdestino[i]
              div(class='col-md-3')
                laber(for='delete')='Número de fila a eliminar'
                input(type='delete' name='delete' id='delete' placeholder='número' class='form-control')
              br
              button(type='eliminar' name='eliminar' id='eliminar' class='btn btn-danger btn-lg' href='/auth/perfil')= 'Eliminar'

              
                
                                        
              